page-home {

    ion-content.Teste{
        text-align: center;
        font-size: 30px;
        font-weight:bold;
        font-style:italic;
        text-transform: uppercase;
        color: black;
        text-shadow: 3px 2px #e2140f;

        background-image: url('../assets/imgs/fundo1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .avatar img{
      width: 150px;
      margin-left: 40px;
      margin-top:15%;
      }

}
